<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rbac0withgrouphierarchy.dao.mapper.UserGroupHierarchyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rbac0withgrouphierarchy.dao.entity.UserGroupHierarchy">
        <id column="node_name" property="nodeName" />
        <result column="user_group_id" property="userGroupId" />
        <result column="path_enum" property="pathEnum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_group_id, node_name, path_enum
    </sql>

</mapper>
